<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.love311.www.fanxun">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <meta-data android:name="design_width" android:value="720"></meta-data>
        <meta-data android:name="design_height" android:value="1280"></meta-data>
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"></activity>
        <activity android:name=".activity.AddUsedHouseActivity"></activity>
        <activity android:name=".activity.OrientationActivity"></activity>
        <activity android:name=".activity.DecorationActivity"></activity>
        <activity android:name=".activity.OwnerRemarkActivity"></activity>
        <activity android:name=".activity.StatusActivity"></activity>
        <activity android:name=".activity.PropertiesActivity"></activity>
        <activity android:name=".activity.TypeActivity"></activity>
        <activity android:name=".activity.PropertyRightActivity"></activity>
        <activity android:name=".activity.GarageActivity"></activity>
        <activity android:name=".activity.KeyActivity"></activity>
        <activity android:name=".activity.HouseSourceRemarkActivity"></activity>
        <activity android:name=".activity.VillageActivity"></activity>
        <activity android:name=".activity.HouseTypeActivity"></activity>
        <activity android:name=".activity.PickPictureActivity"></activity>
        <activity android:name=".activity.DelegateActivity"></activity>
        <activity android:name=".activity.RentTimeActivity"></activity>
        <activity android:name=".activity.SearchActivity"></activity>
        <activity android:name=".activity.BrokerActivity"></activity>
        <activity android:name=".activity.PlateActivity"></activity>
        <activity android:name=".activity.HouseTypeSearchActivity"></activity>
        <activity android:name=".activity.AddPassengerActivity"></activity>
        <activity android:name=".activity.PassengerRemarkActivity"></activity>
        <activity android:name=".activity.PassengerPropertiesActivity"></activity>
        <activity android:name=".activity.SearchPassengerActivity"></activity>
        <activity android:name=".activity.UsedHouseDetailActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".activity.TypePassengerActivity"></activity>
        <activity android:name=".activity.StatusPassengerActivity"></activity>
        <activity android:name=".activity.DecorationPassengerActivity"></activity>
        <activity android:name=".activity.OrientationPassengerActivity"></activity>
        <activity android:name=".activity.StatusPassengerSearchActivity"></activity>
        <activity android:name=".activity.PassengerSourceDetailActivity"
            android:windowSoftInputMode="stateHidden"></activity>
    </application>

</manifest>